.nav {
  background-color: orangered;
}
/* not work when using element selector */
.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav :global(.active) {
  background-color: greenyellow;
}

:global(.test) {
  background-color: red;
}
